<div id="login_div" class="blue_title">
  <div id="lightbox-logo"><span><%= image_tag("mconf_logo_small.png",:class=>"icon")%><%= t('vcc') %></span></div>

  <% if current_site.shib_enabled? %>
    <div id="shib-login">
      <span><%= t('cafe.login_page.description').html_safe %></span>
      <div class="image">
        <%= link_to(image_tag("logos/ufrgs-logo.jpg"), shib_login_path) %>
      </div>
      <%= link_to(t('cafe.login_page.click_here_to_login'), shib_login_path) %>
    </div>
  <% end %>

</div>
