<div id="frontpage_flashs">
  <% flash.each do |name, msg| %>
    <div class="<%= name %>"><%= msg.html_safe %></div>
  <% end %>
</div>

<div id="content-container">

  <div id="topo">
    <div id="logo-ufrgs">
      <%= link_to(image_tag("ufrgs/logo.jpg"), "http://www.ufrgs.br/") %>
    </div>
  </div>

  <div id="content-center">
    <h1 id="content-title">Sistema de Webconferência</h1>
    <div id="content-core">
      <div id="login-button">
        <a href="/secure" class="btn btn-large btn-danger">
          <%= t('frontpage.ufrgs.click_to_access').html_safe %>
        </a>
        <span><%= t('frontpage.ufrgs.accessible_to').html_safe %></span>
      </div>
    </div>
  </div>

</div>

<div class="clearer"></div>
