<div id="frontpage_flashs">
  <% flash.each do |name, msg| %>
    <div class="<%= name %>"><%= msg.html_safe %></div>
  <% end %>
</div>

<div id="content-container">

  <div id="topo">
    <div id="logo-ufrgs">
      <%= link_to(image_tag("ufrgs/logo.jpg"), "http://www.ufrgs.br/") %>
    </div>
  </div>

  <div id="content-center">
    <h1 id="content-title">Sistema de Webconferência</h1>
    <div id="content-join">
      <div id="login-button">
        <a href="/secure" class="btn btn-large btn-danger">
          <%= t('frontpage.ufrgs.click_to_access').html_safe %>
        </a>
        <span><%= t('frontpage.ufrgs.accessible_to').html_safe %></span>
      </div>
    </div>

    <div id="content-help">
      <h3><%= t(".docs.title") %></h3>

      <span><%= t(".docs.headline") %></span>
      <ul>
        <li>
          <%= t(".docs.link_index", :url => "http://www.ufrgs.br/cpd/servicos/redes-e-comunicacao/conferencia-via-web-1").html_safe %>
        </li>
        <li>
          <%= t(".docs.link_tutorials", :url => "http://www.ufrgs.br/cpd/servicos/redes-e-comunicacao/pasta-tutoriais/tutoriais-mconf/tutoriais-mconf").html_safe %>
        </li>
        <li>
          <%= t(".docs.link_moodle", :url => "https://moodleinstitucional.ufrgs.br/tutorial_moodle/tutorial/75.php").html_safe %>
        </li>
      </ul>
    </div>

    <div class="clearer"></div>
  </div>

</div>

<div class="clearer"></div>
