- content_for :navbar do

  #barra-brasil
    .barra
      %ul
        %li
          = link_to "", "http://www.acessoainformacao.gov.br", :class => "ai", :title => "Acesso à informação"
        %li
          = link_to "", "http://www.brasil.gov.br", :class => "brasilgov", :title => "Portal de Estado do Brasil"

  #barra-wrapper
    #barra
      #barra-chama
      #barra-links
        %ul
          %li= link_to "UFRGS", "http://www.ufrgs.br"

- content_for :page_header do
  = image_tag "ufrgs/logo.jpg", :size => "160x127", :class => "logo-ufrgs"

#content

  %h1#content-title
    = t(".service_name")

  #login
    #login-button
      = link_to shibboleth_path, :class => "btn btn-large btn-danger" do
        = t('.click_to_access').html_safe
      .observation= t('.accessible_to').html_safe

  #documentation
    %h3= t(".docs.title")
    %span= t(".docs.headline")
    %ul
      %li
        = t(".docs.link_lumina", :url => "https://lumina.ufrgs.br/course/view.php?id=15").html_safe
      %li
        = t(".docs.link_tips", :url => "https://lumina.ufrgs.br/pluginfile.php/19131/mod_resource/content/3/1%20M1%201%20Como%20acessar%20o%20Mconf.pdf").html_safe
      %li
        = t(".docs.link_tutorials_1_1", :url => "https://chasquebox.ufrgs.br/data/public/aed39f.php").html_safe
        = t(".docs.link_tutorials_1_1_desc").html_safe
      %li
        = t(".docs.link_details", :url => "https://www1.ufrgs.br/catalogoti/servicos/servico?servico=13").html_safe
